@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font: 16px 'Comfortaa', cursive;
}

#root {
  max-width: 1020px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
